*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
height: 55px;
background-color: #2c9df9;
display:flex ;
justify-content: space-between;
overflow:none;
align-items: center;

}

.text a{

  color: rgb(255, 255, 255);
  text-decoration: none;
  
}
.one{
display: flex;
align-items: center;
gap: 10px;
color: white;

}
.two{
    height: 30px;
    align-self: center;
  display: flex;

}
.three{
display: flex;
gap: 10px;
align-items: center;


}
.boot{
    display: flex;
    height: 40px;
   
}
.line{
    padding-top: 0px;
    height: 40px;
    width: 0.1px;
    background-color: #d1cfb593;
}
.grp3{
    display: flex;
    height: 20px;
    gap: 10px;
    margin-top: 0px;
        
}
.version{
margin-top: 0px;
color: white;
}





.search-bar{
    align-items: center;
    border: 2px solid rgba(128, 69, 69, 0.815);
    box-shadow: 1px 1px 1px 2px #e0d862b6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.select{
    color: rgb(78, 94, 233);
    border-radius: 6px;
}
.sel{
color: rgb(78, 94, 233);
border-radius: 6px;   
}
  .grid-container{
      height: 100vh;
      width: 100vw;
      display: grid;
      margin: auto;
      gap: 10px;
    background-color: rgba(125, 134, 117, 0.829) ;
    padding: 10px;
    grid-template-areas: 
    'header header header'
    'menue menue menue'
    'box1 box2 sidebar'             
    'content content sidebar'                 
    'content content sidebar'
    'content content sidebar'
    'content content sidebar'
    'content content sidebar'
    'content content sidebar'
    'footer footer footer'  ;
  }
  
  .grid-container > div{
  
  font-family:sans-serif;
  color: rgba(4, 3, 51, 0.685);
  text-align: center;
  border: 3px solid rgb(237, 243, 243);
  border-radius: 7px;
  
  
  }
  
  .item1{ grid-area: header; height: 10vh; background-color: rgba(127, 255, 212, 0.623);}
  .item2{ grid-area: menue; height: 6vh; margin-top: -45px; background-color: rgba(127, 255, 212, 0.623);}
  .item3{ grid-area: box1; margin-top: -55px;width: vw;background-color: rgba(127, 255, 212, 0.623);}
  .item4{ grid-area: box2; margin-top: -55px; width: vw; background-color: rgba(127, 255, 212, 0.623);}
  .item5{ grid-area: sidebar; margin-top: -55px; background-color: rgba(127, 255, 212, 0.623);}
  .item6{ grid-area: content;background-color: rgba(127, 255, 212, 0.623); }
  .item7{ grid-area: footer; margin:0; height: 3vw; margin-bottom: -40; background-color: rgba(127, 255, 212, 0.623);}


  @media screen and (max-width:380px){
    .grid-container{
        height: 100vh;
        width: 50vw;
        display: grid;
        margin: auto;
        gap: 10px;
      background-color: rgba(125, 134, 117, 0.829) ;
      padding: 10px;
      grid-template-areas: 
      'header header header'
      'menue menue menue'
      'box1 box2 box2'             
      'content content sidebar'                 
      'content content sidebar'
      'content content sidebar'
      'content content sidebar'
      'content content sidebar'
      'content content sidebar'
      'footer footer footer'  ;
    } 
  }
  @media screen and (max-width:330px){
    .grid-container{
        height: 100vh;
        width: 50vw;
        display: grid;
        margin: auto;
        gap: 10px;
      background-color: rgba(125, 134, 117, 0.829) ;
      padding: 10px;
      grid-template-areas: 
      'header header header'
      'menue menue menue'
      'box1 box1 box1'             
      'box2 box2 box2'                 
      'content content content'
      'content content content'
      'sidebar sidebar sidebar'
      'footer footer footer'  ;
    } 
  }